<div class="container">
	<div class="divAccueil">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<form class="form-horizontal">
					<div class="input-group col-sm-12 col-md-12 col-lg-12" id="input-group-identifiant" data-length="3" >
						<input type="text" class="form-control" name="identifiant" id="identifiant" placeholder="Identifiant" required>
						<span class="input-group-addon danger">
							<span class="glyphicon glyphicon-remove">
							</span>
						</span>
					</div>
				   <div class="input-group col-sm-12 col-md-12 col-lg-12" id="input-group-motDePasse">
						<input type="password" class="form-control" name="motDePasse" id="motDePasse" placeholder="Mot de passe" required>
						<span class="input-group-addon danger">
							<span class="glyphicon glyphicon-remove">
							</span>
						</span>
					</div> 
				    <button type="submit" id="connexionInscription" name="connexionInscription" class="col-sm-12 col-md-12 btn col-lg-12 btn-primary">
				    	Se connecter
				    </button>
				    <a id="inscription" class="col-sm-12 col-md-12 btn col-lg-12 btn-link" onclick="toggleConnexionInscription()">
		     				Pas de compte? S'inscrire
		     			</a>
				</form>
			</div>
		</div>
	</div>
</div>